# Defina os modelos que deseja usar (o sistema detecta o provedor automaticamente)
# Use prefixos 'gemini-' ou 'deepseek-'
MODELO_GERAL=gemini-3.1-flash-lite
MODELO_CODIGO=deepseek-v4-pro

# Chaves de API (o sistema usará a chave correspondente ao modelo)
GEMINI_API_KEY=AIz....IQprU
DEEPSEEK_API_KEY=sk-....383ef215